/*moblie first*/

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

#card {
  width: auto;
  background-color: hsl(0, 0%, 12%);
  margin: 0;
  height: fit-content;
  padding: 24px;
  display: block;
  align-items: center;
  text-align: center;
  display: block;
}

img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.name {
  padding: 24px 0;
}

h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);

  font-weight: 600;
  font-size: 1.5rem;
}

p {
  color: hsl(75, 94%, 57%);
  font-size: 0.9rem;
  font-weight: 700;
  padding-top: 4px;
}

.bio {
  font-size: 0.9rem;
  padding-bottom: 24px;
  color: hsl(0, 0%, 100%);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul {
  list-style: none;
}

a:link {
  color: #ffffff;
}

ul li {
  font-size: 0.9rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);

  justify-content: center;
  padding: 12px;
  background: #333333;
  border-radius: 8px;
}

.attribution {
  font-size: 0.9rem;
  padding-bottom: 24px;
  color: hsl(0, 0%, 100%);
  justify-content: center;
  padding: 32px 0;
}

@media screen and (min-width: 600px) {
  #container {
    padding: 174px 675px;
    background: black;
  }

  #card {
    width: 384px;
    height: fit-content;
    background: #1f1f1f;

    border-radius: 12px;
    padding: 40px;
  }

  ul :hover {
    background: hsl(75, 94%, 57%);
    border: white;
    color: hsl(0, 0%, 12%);
  }
}
